*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.gato{
    width: 300px;
    height: 300px;
    border-radius: 5%;
}

.body{
  background: #20262E;   
 width: 100vw;
 height: 100vh;
 text-align: center;
 align-items: center;
 justify-content: center;
}

.rain-container{
    position: absolute;
    inset: 0;
    overflow: hidden;
}

@keyframes flake {
    0%{
        transform: translate(var(--x-start), var(--y-start)) rotate(0);
    }
    100%{
        transform: translate(var(--x-end), var(--y-end)) rotate(50deg);
    }
}

.rainDrop {
    font-size: var(--sz);
	filter: blur(var(--blur));
	animation: flake 20s linear infinite;
	transform: translate(var(--x-start), -15vh) rotate(0);
	opacity: var(--a);
}

.rainDrop--s {
	--sz: 1rem;
	--blur: 2px;
	--a: 0.8;
	--x-start: 50vw;
	--x-end: 0;
	--y-start: 0;
	--y-end: 100vh;
	position: absolute;    
}

.rainDrop--m {
	--sz: 2rem;
	--blur: 2px;
	--a: 0.8;
	--x-start: 50vw;
	--x-end: 0;
	--y-start: 0;
	--y-end: 100vh;
	position: absolute;
	filter: blur(0px);
	z-index: 50;
}

.rainDrop--l {
	--sz: 3rem;
	--blur: 0px;
	--a: 0.8;
	--x-start: 50vw;
	--x-end: 0;
	--y-start: 0;
	--y-end: 100vh;
	position: absolute;
	z-index: 80;
}

.rainDrop--xl {
	--sz: 6rem;
	--blur: 4px;
	--a: 0.5;
	--x-start: 50vw;
	--x-end: 0;
	--y-start: 0;
	--y-end: 100vh;
	position: absolute; 
	z-index: 100;
}


 p{
    font-size: xx-large;
    padding: 15%;
}

button{
    font-size: xx-large;
    background: #ff0101ec;
    padding: 0.75em;
}

#yesBtn{
    transform: translate(-100%,0);
}

#noBtn{
    position: absolute;
}
